*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #9dc88d;
    background-image: url("back.png");
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

header{
    background-color: #164a41;
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: ghostwhite;
    font-size: x-large;
}

.nav-link:hover{
    color: #9dc88d;
}

.navRight{
    text-align: right;
}

#noHover:hover{
     color: ghostwhite;
}

footer{
    background-color: #164a41;
    color: ghostwhite;
    position: fixed;
    bottom: 0;
    z-index: 200;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}


.btn{
    background-color: #4d774e;
    color: ghostwhite;
}

.btn-choice{
    height: 10rem;
    font-size: 200%;
}

.btn-choice:hover{
    background-color: #164a41;
    color: ghostwhite;
}

.light-green-bg{
    background-color: #9dc88d;
}
.btn-login{
    background-color: #9dc88d;
    color: black;
}

.btn-login:hover{
    color: ghostwhite;
}

.container{
    margin-top: 5%;
}

.container-login{
    background-color: #4d774e;
    color: ghostwhite;
    padding: 2rem;
}

.container-export{
    background-color: #164a41;
    color: ghostwhite;
    padding: 1rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.exportTest{
    font-weight: bold;
    margin-right: 0.5rem    ;
}

.containerQuestion{
    margin: 1rem;
}

.conRegister{
    width: 50%;
    margin-bottom: 4rem;
}

.addTest{
    width: 30rem;
}

.marginBottom{
    margin-bottom: 4rem;
}

.form-control{
    padding: 0.5rem;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: ghostwhite;
}

a:hover{
    color: #9dc88d;
}

h5, .qrCode{
    padding-top: 1rem;
}

.nav-item rightBar{
    text-align: right;
}

#tableData_wrapper{
    background-color: #4d774e;
    padding: 1rem;
    font-size: large;
}

#tableData_filter, #tableData_length, #tableData_info, #tableData_previous, .sorting{
    color: ghostwhite;
}

#testInfo{
    height: 5rem;
    font-size: x-large;
}
.is-active {
    background-color: #9dc88d;
}
.is-inactive{
    background-color: red;
}
.error{
 color: red;
}

#questionShort,#questionChoices,#questionDrawing,#questionMaths, #questionPairs {
    display: none;
}

.containerPairs ul{
    width: 20rem;
    float: left;
    margin-left: 10%;
}

.containerPairs li {
    text-align: center;
    margin-bottom: 20px;
    list-style: none;
    background-color: #9dc88d;
    height: 40px;
    padding: 5px;
    color: black;
}


.jtk-connector
path {
    stroke: #000000;
    stroke-width: 3;
}

.jtk-endpoint
circle {
    fill: #000000;
}
/* fit to parent div
board for drawing canvas*/
#board {
    width: 100%;
    height: 100%;
}

.mathHint img{
    height: 20px;
    width: auto;
}

.table{
    background-color: #4d774e;
    padding: 1rem;
    color: ghostwhite;
}

.pad{
    padding: 0.5rem;
}

.send{
    height: 4rem;
    text-align: center;
    margin-left: 42%;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

div#countdownInfo {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #164a41;
    color: white;
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
    width: 10rem;
    margin-left: 2rem;
    z-index: 30;
}

#doTest{
    top: 0;
    background-color: #164a41;
    color: white;
    width: 100%;
    height: 4rem;
    text-align: center;
    font-size: xx-large;
}

.container-test{
    margin-top: 0;
}

.col-md-6{
    margin-right: 0.5rem;
}

.col-md-3{
    text-align: center;
}

thead{
    font-weight: bold;
    font-size: large;
    background-color: #164a41;
}

td{
    font-size: medium;
}

.btn-table{
    padding: 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

.greenBack{
    background-color: #4d774e;
}

.conTest{
    width: 60%;
}

.marginTopBottom{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.finishTest{
    background-color: #9dc88d;
    width: 50rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
}


.finishTest2{
    width: 20rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.space{
    margin: 6rem;
}

.btn:focus{
    box-shadow: none;
}

.ansImg{
    width: 50%;
}
#exportsRow{
    flex-wrap: nowrap;
}

.exportLabel{
    text-align: center;
}
